
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgray;
}

.collapse {
    width: 900px;
}

.collapse .collBox {
    position: relative;
    margin: 10px 20px;
}

.collapse .collBox .name {
    position: relative;
    padding: 10px;
    background:tomato;
    color: whitesmoke;
    cursor: pointer;
}

.collapse .collBox .name::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}

.content {
    position: relative;
    height: 0;
    overflow: hidden;
    background: whitesmoke;
    transition: 0.5s;
    overflow-y: auto;
}

.collapse .collBox.active .content {
    height: 150px;
    padding: 10px;
}
