
body{
    margin:0;
    padding:0;
    background-image: url(background.jpg);
    width: 100vw;
    height: 100vh;
    display:flex;
}


div{
    margin: auto auto;
    border: 6px solid #FFC000;
    border-radius: 6px;
    width: 69vw;
    height: 80vh;
    justify-content: center;
    box-shadow: 1px 0px 15px 9px rgba(255,192,0,0.2);
    background-image: url(food.jpg);
    background-repeat: no-repeat;

}

