
body {
    font-family:'Noto Sans', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(0,163,108,1) 70%, rgba(0,163,108,1) 100%); 
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 10%;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    max-width: 1591px;
    padding: 20px 0;
    margin-right: 0 auto;
    position: relative;
}


li.main-item {
        font-size: 20px;
        text-transform: capitalize;
        text-align:c enter;
        font-weight: 700;
}

a{
    text-decoration: none;
    padding: 5px 0px;
    color: #117A65;
}

a:link {
    color: #117A65;
    text-decoration: none;
}

li a:hover{
    color:#73C6B6;
    border-bottom: 4px solid #73C6B6;
}

.main-content {
    height: 700px;
    box-sizing: content-box;
    padding: 70px 0;
    margin: 0 auto;
    width: 1591px;
    position: relative;
}

.img2 {
    position: absolute;
    top: 20%;
    right: 27%;

}

h1 {
    text-transform: capitalize;
    color: #06063D;
    font-size: 60px;
}

span {
    text-transform:uppercase;
    font-size: 15px;
    color:#73C6B6;
}

p {
    width:400px;
    line-height: 190%;
    margin-bottom: 25px;
}

button{
    text-transform: uppercase;
    padding: 10px 30px;
    border: 3px solid #73C6B6;
    font-size: 17px;
    font-weight: 700;
    color: #73C6B6;
    border-radius: 25px;
    background-color: #fff;
}
