
body {
    background-image: url(background.jpg);
    background-attachment: scroll;
    font-family: 'Roboto', sans-serif;
}

div.main-container {
    max-width: 1280px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#navigation {
    grid-column-start: 2;
    grid-column-end: 10;
    border: 1px solid black;
}

#menu {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    border: 1px solid black;
}

#options {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 11;
    border: 1px solid black;
}


nav ul {
    list-style-type: none;
    display: flex;
    margin: 20px auto;
    padding: 0;
    align-self: center;
}

li.nav-logo {
    flex-grow: 1; 
}

li.nav-option {
    padding: 0 15px;
    align-self: center;
}

li.nav-option-icon {
    padding-left: 10px;
    align-self: center;
}

ul li:nth-child(5) {
    padding-left: 30px;
}

li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 0.25px;
}